.block_assignment_review_markers {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block_assignment_review_issues {
    margin-bottom: 20px;
    text-align: left;
}

.block_assignment_review_left {
    text-align: left
}

.block_assignment_review_right { 
    text-align: right;
}

.block_assignment_review .comment-list {
    overflow: visible;
}

.block_assignment_review .comment-delete {
    right: -12px;
}
